---
import MasterLayout from "../layouts/MasterLayout.astro";
import HomeHero from "../components/HomeHero.astro";
import SkillTag from "../components/SkillTag.astro";
import Card from "../components/Card.astro";
import Button from "../components/buttons/Button.astro";

const skills = [
  "html",
  "css",
  "javascript",
  "jquery",
  "react.js",
  "astro.js",
  "accessibility",
  "sass",
  "bootstrap",
  "ui design",
  "ux design",
];

const testimonials = [
  {
    name: "Sally Lennox",
    title: "Head of Digital",
    quote:
      "Glen has played a crucial role in the successful development of our new website, showcasing his exceptional front-end development skills throughout the process. His curiosity and passion for the project were evident, driving him to explore innovative solutions and produce outstanding results. Glen was also highly collaborative, generously sharing his knowledge with other team members to ensure the success of the project. As a dedicated professional, he took full responsibility for the outcomes and delivered beyond our expectations. Thank you, Glen, for your remarkable contribution as a front-end engineer!",
  },
  {
    name: "Damien Senna",
    title: "Ecommerce Manager",
    quote:
      "I have had the pleasure of working with Glen on web development projects. He is an excellent front end developer who goes above and beyond to produce high-quality code. Glen has shown leadership and initiative in his work, particularly with regards to online accessibility and Core Web Vitals. His skills and commitment are an asset to any company looking for a front end engineer.",
  },
  {
    name: "Hao Soon",
    title: "UX/UI Designer",
    quote:
      "As a UX/UI designer, I've had the pleasure of working with an amazing developer like Glen. He is a reliable and approachable developer with a meticulous work attitude. We have collaborated on many website features and pages, creating precise, pixel-perfect designs that are accessible to all users. Glen's knowledge of web accessibility standards and his commitment to team success make him a valuable member of our team. I would highly recommend him to anyone looking for a skilled and dedicated developer.",
  },
];
const myWork = [
  {
    title: "Image Delivery Method",
    body: "Resolution switching, art direction and a low quality image place holder? See how I did it...",
    cta: "Read more",
    img: "/assets/images/card-image.jpg",
    href: "index.html",
  },
  {
    title: "Accessible Cards",
    body: "Resolution switching, art direction and a low quality image place holder? See how I did it...",
    cta: "Read more",
    img: "/assets/images/card-image.jpg",
    href: "index.html",
  },
  {
    title: "Article 3",
    body: "Resolution switching, art direction and a low quality image place holder? See how I did it...",
    cta: "Read more",
    img: "/assets/images/card-image.jpg",
    href: "index.html",
  },
  {
    title: "Article 4",
    body: "Resolution switching, art direction and a low quality image place holder? See how I did it...",
    cta: "Read more",
    img: "/assets/images/card-image.jpg",
    href: "index.html",
  },
  {
    title: "Article 5",
    body: "Resolution switching, art direction and a low quality image place holder? See how I did it...",
    cta: "Read more",
    img: "/assets/images/card-image.jpg",
    href: "index.html",
  },
];
---

<style is:inline>
  .modeule-display-none {
    display: none !important;
  }
</style>

<MasterLayout>
  <HomeHero
    classes="modeule-display-nonex"
    title="Hi, I'm Glen, a Front-End Developer."
    body="Turning Design into Reality with Clean, Accessible Code."
    cta="Contact"
  />
  <div class="container module modeule-display-nonex">
    <div class="row">
      <div class="col-12 col-lg-8 mx-auto">
        <p>
          With 8 years of proven experience in e-commerce, I've had the
          privilege of contributing to industry-leading brands and building a
          skill set that spans HTML5, CSS3, Javascript, JQuery, and React. From
          building and deploying content to ensuring clean, performant code, I
          always strive to uphold the latest industry standards.
        </p>
        <p>
          Over my 15 years as a designer, I've developed strong design
          principles that enable me to execute pixel-perfect work every time.
          Whether it's web design, UI/UX, or graphic design, my work always
          prioritizes user experience and aesthetics. For example, I recently
          led a redesign of a popular e-commerce site that resulted in a 20%
          increase in conversion rates.
        </p>
        <p>
          My technical skills are complemented by strong soft skills such as
          communication, collaboration, and problem-solving. I value working
          closely with stakeholders to ensure their vision is translated into a
          final product that exceeds their expectations.
        </p>
        <p>
          By combining my technical expertise, design principles, and soft
          skills, I bring a unique perspective to every project I work on.
          Whether it's improving website performance, creating a new user
          experience, or developing a brand identity, I'm passionate about
          delivering exceptional results that exceed expectations.
        </p>
      </div>
    </div>
  </div>
  <div class="container module modeule-display-nonex">
    <div class="row">
      <div class="col-10 col-lg-6 mx-auto">
        <div class="skill-tag-wrapper">
          {skills.map((skill) => <SkillTag key={skill} title={skill} />)}
        </div>
      </div>
    </div>
  </div>
  <div class="container module modeule-display-nonex">
    <hr class="divider-decoration" />
  </div>

  <div class="container px-0 module modeule-display-nonex">
    <div class="row">
      <div class="col-11 col-lg-10 mx-auto">
        <h2 class="h4 section-title text-center">Some things I’ve created.</h2>
      </div>
      <div class="col col-12">
        <div class="card-container mx-auto mt-4">
          {
            myWork.map((card) => (
              <Card
                href={card.href}
                title={card.title}
                body={card.body}
                img={card.img}
                cta={card.cta}
              />
            ))
          }
        </div>
      </div>
    </div>
  </div>

  <div class="container module">
    <h2 class="text-center">Some nice words about me.</h2>
    <div class="quote quote-top">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
        ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path
          d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"
        ></path>
      </svg>
    </div>
    <div class="testimonials-wrapper">
      <div class="testimonial">
        <div class="testimonial-person">
          <div class="testimonial-person-name">
            {testimonials[0].name}
          </div>
          <div class="testimonial-person-title">
            {testimonials[0].title}
          </div>
        </div>
        <div class="testimonial-body">
          <p>{testimonials[0].quote}</p>
        </div>
      </div>
      <div class="quote quote-bottom">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
          ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z"
          ></path>
        </svg>
      </div>
    </div>
    <script>
      const swiper = new Swiper(".swiper", {
        autoplay: {
          delay: 5000, // time between each slide transition in milliseconds
          disableOnInteraction: true, // enable or disable the autoplay when user interacts with the swiper
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
  </div>
</MasterLayout>
