---
import MasterLayout from "../layouts/MasterLayout.astro";
import HomeHero from "../components/HomeHero.astro";
import SkillTag from "../components/SkillTag.astro";
import Card from "../components/Card.astro";
import Button from "../components/buttons/Button.astro";

const skills = [
  "html",
  "css",
  "javascript",
  "jquery",
  "react.js",
  "astro.js",
  "accessibility",
  "sass",
  "bootstrap",
  "ui design",
  "ux design",
];

const myWork = [
  {
    title: "Image Delivery Method",
    body: "Resolution switching, art direction and a low quality image place holder? See how I did it...",
    cta: "Read more",
    img: "/assets/images/card-image.jpg",
    href: "index.html",
  },
  {
    title: "Accessible Cards",
    body: "Resolution switching, art direction and a low quality image place holder? See how I did it...",
    cta: "Read more",
    img: "/assets/images/card-image.jpg",
    href: "index.html",
  },
  {
    title: "Article 3",
    body: "Resolution switching, art direction and a low quality image place holder? See how I did it...",
    cta: "Read more",
    img: "/assets/images/card-image.jpg",
    href: "index.html",
  },
  {
    title: "Article 4",
    body: "Resolution switching, art direction and a low quality image place holder? See how I did it...",
    cta: "Read more",
    img: "/assets/images/card-image.jpg",
    href: "index.html",
  },
  {
    title: "Article 5",
    body: "Resolution switching, art direction and a low quality image place holder? See how I did it...",
    cta: "Read more",
    img: "/assets/images/card-image.jpg",
    href: "index.html",
  },
];
---

<style is:inline>
  .modeule-display-none {
    display: none !important;
  }
</style>

<MasterLayout>
  <HomeHero
    classes="modeule-display-nonex"
    title="Hi, I'm Glen, a Front-End Developer."
    body="Turning Design into Reality with Clean, Accessible Code."
    cta="Contact"
  />
  <div class="container module modeule-display-nonex">
    <div class="row">
      <div class="col-12 col-lg-8 mx-auto">
        <p>
          With 8 years of proven experience in e-commerce, I've had the
          privilege of contributing to industry-leading brands and building a
          skill set that spans HTML5, CSS3, Javascript, JQuery, and React. From
          building and deploying content to ensuring clean, performant code, I
          always strive to uphold the latest industry standards.
        </p>
        <p>
          Over my 15 years as a designer, I've developed strong design
          principles that enable me to execute pixel-perfect work every time.
          Whether it's web design, UI/UX, or graphic design, my work always
          prioritizes user experience and aesthetics. For example, I recently
          led a redesign of a popular e-commerce site that resulted in a 20%
          increase in conversion rates.
        </p>
        <p>
          My technical skills are complemented by strong soft skills such as
          communication, collaboration, and problem-solving. I value working
          closely with stakeholders to ensure their vision is translated into a
          final product that exceeds their expectations.
        </p>
        <p>
          By combining my technical expertise, design principles, and soft
          skills, I bring a unique perspective to every project I work on.
          Whether it's improving website performance, creating a new user
          experience, or developing a brand identity, I'm passionate about
          delivering exceptional results that exceed expectations.
        </p>
      </div>
    </div>
  </div>
  <div class="container module modeule-display-nonex">
    <div class="row">
      <div class="col-10 col-lg-6 mx-auto">
        <div class="skill-tag-wrapper">
          {skills.map((skill) => <SkillTag key={skill} title={skill} />)}
        </div>
      </div>
    </div>
  </div>
  <div class="container module modeule-display-nonex">
    <hr class="divider-decoration" />
  </div>

  <div class="container px-0 module modeule-display-nonex">
    <div class="row">
      <div class="col-11 col-lg-10 mx-auto">
        <h2 class="h4 section-title text-center">Some things I’ve created.</h2>
      </div>
      <div class="col col-12">
        <div class="card-container mx-auto mt-4">
          {
            myWork.map((card) => (
              <Card
                href={card.href}
                title={card.title}
                body={card.body}
                img={card.img}
                cta={card.cta}
              />
            ))
          }
        </div>
      </div>
    </div>
  </div>

  <div class="container module">
    <h2 class="text-center">Some nice words about me.</h2>
    <div class="quote quote-top">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
        ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path
          d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"
        ></path>
      </svg>
    </div>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <blockquote>
            “Glen has been instrumental in the success of the new T2 website,
            exemplifying the T2 values in many ways. During the build phase he
            demonstrated the value of Curiosity while also showing great passion
            for the project. He showed generosity through the sharing of his
            knowledge to help other team members and he absolutely took
            accountability for outcomes. Thank you, Glen, for your outstanding
            contribution!”
          </blockquote>
        </div>
        <div class="swiper-slide">
          <blockquote>
            Glen is an excellent Front End UI Developer who I have had the
            pleasure of working with during my whole time at T2. Not only does
            Glen do his BAU front end work at the highest standards, he has also
            shown leadership and a passion for important issues such as online
            accessibility. Some of Glen's other best work involve improving the
            codebase of the T2 website in order to improve T2's Core Web Vitals.
            This was done on his own initiative where Glen went above and beyond
            to achieve these positives for T2. A true leader in this space, I am
            fortunate enough to have worked with and managed Glen throughout my
            time at T2. I will always recommend Glen to any company interested
            in his skills or leadership.
          </blockquote>
        </div>
        <div class="swiper-slide">
          <blockquote>
            “Glen has been instrumental in the success of the new T2 website,
            exemplifying the T2 values in many ways. During the build phase he
            demonstrated the value of Curiosity while also showing great passion
            for the project. He showed generosity through the sharing of his
            knowledge to help other team members and he absolutely took
            accountability for outcomes. Thank you, Glen, for your outstanding
            contribution!”
          </blockquote>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination">xx</div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
          ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
          ></path>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
          ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
          ></path>
        </svg>
      </div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
    <div class="quote quote-bottom">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
        ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path
          d="M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z"
        ></path>
      </svg>
    </div>
  </div>
  <script>
    const swiper = new Swiper(".swiper", {
      autoplay: {
        delay: 5000, // time between each slide transition in milliseconds
        disableOnInteraction: true, // enable or disable the autoplay when user interacts with the swiper
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</MasterLayout>
