---
import Button from "./buttons/Button.astro";

const { href, title, body, cta, img } = Astro.props;
---

<a href={href} aria-label={title} class="wrapper-link"></a>
  <div class="card">
    <img src={img} alt="" class="card-img" />
    <div class="card-content">
      <h3 class="card-title h5">{title}</h3>
      <p class="card-body">
        {body}
      </p>
      <Button href={href} title={cta} rank="secondary" />
    </div>
  </div>

